@model Tuple<List<Blog>, Dictionary<string, Userdata>>

@{
	ViewData["Title"] = "Home";
	var trendcount = 0;
	var topblogs = Model.Item1.GetRange(0, 6);
	topblogs.Shuffle();
}

<div class="banner">
	<div class="tagline">
		<h1>Be Open</h1>
		<p>Be updated, keep you and others informative and relevant. Reach the world through Deblog.</p>
		<a href="/" class="bigbtn">Let's Go</a>

	</div>
</div>
<div class="container">
	<div class="trending">
		<h4><i class="fal fa-megaphone"></i> Find what's going on Deblog</h4>
		<div class="trends">

			@foreach (Blog blog in topblogs)
			{
				@if (@Model.Item2.ContainsKey(@blog.BlogAuthor))
				{
					<a asp-action="Index" asp-controller="Blog" asp-route-id=@blog.Id class="trendblog">
						<div class="author">
							<img src="@Model.Item2[@blog.BlogAuthor].ImageUrl" alt="">
							<span>@Model.Item2[@blog.BlogAuthor].Fullname</span>
						</div>
						<div class="title">
							@blog.BlogTitle
						</div>
						<div class="otherdata">
							<div>
								@if (blog.BlogDatetime.Year == DateTime.Now.Year)
								{
									<span>@blog.BlogDatetime.ToString("MMM dd")</span>
								}
								else
								{
									<span>@blog.BlogDatetime.ToString("MMM dd, yyyy")</span>
								}
							</div>
							<span>·</span>
							<div>@blog.BlogReadtime</div>
						</div>
						@{
							trendcount++;
						}
						<span class="numbering">@trendcount</span>
					</a>
				}
			}
		</div>
	</div>


	<div class="readmore">
		<div class="trendingtopics">
			<h4><i class="fal fa-hands-helping"></i> You want it, you get it.</h4>
			<div class="topics">
			</div>
			<a href="#" class="linktopics">Find more topics</a>
		</div>


		<div class="moreblogs">
			<h4><i class="fal fa-stars"> </i> Read recent Blogs</h4>
			<div class="blogs">
				@foreach (Blog blog in Model.Item1)
				{
					@if (@Model.Item2.ContainsKey(@blog.BlogAuthor))
					{
						<a asp-action="Index" asp-controller="Blog" asp-route-id=@blog.Id class="blog">
							<img class="mse blogimg" src="@blog.BlogImageUrl" alt="">
							<div class="trendblog">
								<div class="author">
									<img src="@Model.Item2[@blog.BlogAuthor].ImageUrl" alt="">
									<span>@Model.Item2[@blog.BlogAuthor].Fullname</span>
								</div>
								<div class="title">
									@blog.BlogTitle
								</div>
								<div class="otherdata">
									<div>
										@if (blog.BlogDatetime.Year == DateTime.Now.Year)
										{
											<span>@blog.BlogDatetime.ToString("MMM dd")</span>
										}
										else
										{
											<span>@blog.BlogDatetime.ToString("MMM dd, yyyy")</span>
										}
									</div>
									<span>·</span>
									<div>@blog.BlogReadtime Min</div>

								</div>
							</div>

						</a>
					}
				}
			</div>
		</div>
	</div>
</div>


<script>
	document.addEventListener("scroll", (event) => {
		lastKnownScrollPosition = window.scrollY;
		let accentcolor = getComputedStyle(document.documentElement)
			.getPropertyValue('--accent-color');
		if (lastKnownScrollPosition > 400) {
			document.querySelector("nav").style.background = "#ffffff";
		} else {
			document.querySelector("nav").style.background = accentcolor;
		}
	});



	let topics = ["Programming",
		"Data Science",
		"Technology",
		"Self Improvement",
		"Writing",
		"Relationships",
		"Machine Learning",
		"Productivity",
		"Politics"]

	topics.forEach(element => {
		document.querySelector(".topics").innerHTML += `<a href="#">${element}</a>`
	});




</script>

