@model Tuple<List<Blog>, Dictionary<string, Userdata>>

@{
	ViewData["Title"] = "Home";

	var topblogs = Model.Item1;
	if (Model.Item1.Count() > 20)
	{
		topblogs = Model.Item1.GetRange(0, 6);
	}
}


@section AddToHead{
	<style>
		.container{
			margin-top:100px;
		}
	</style>
}

<div class="container">
	<div class="readmore">
		<div class="trendingtopics">
			<h4><i class="fal fa-hands-helping"></i> You want it, you get it.</h4>
			<div class="topics">
			</div>
			<a href="#" class="linktopics">Find more topics</a>
		</div>


		<div class="moreblogs">
			<h3><i class="fal fa-stars"> </i> See what are going trending</h3>
			<div class="blogs">
				@foreach (Blog blog in topblogs)
				{
					<div class="blog">
						<img class="mse blogimg" src="@blog.BlogImageUrl" alt="">
						<div class="trendblog">
							<div class="author">
								<img src="@Model.Item2[@blog.BlogAuthor].ImageUrl" alt="">
								<span>@Model.Item2[@blog.BlogAuthor].Fullname</span>
							</div>
							<div class="title">
								@blog.BlogTitle
							</div>
							<div class="otherdata">
								<div>
									@if (blog.BlogDatetime.Year == DateTime.Now.Year)
									{
										<span>@blog.BlogDatetime.ToString("MMM dd")</span>
									}
									else
									{
										<span>@blog.BlogDatetime.ToString("MMM dd, yyyy")</span>
									}
								</div>
								<span>·</span>
								<div>@blog.BlogReadtime Min</div>

							</div>
						</div>

					</div>
				}
			</div>
		</div>
	</div>
</div>


<script>
	document.addEventListener("scroll", (event) => {
		lastKnownScrollPosition = window.scrollY;
		let accentcolor = getComputedStyle(document.documentElement)
			.getPropertyValue('--accent-color');
		if (lastKnownScrollPosition > 400) {
			document.querySelector("nav").style.background = "#ffffff";
		} else {
			document.querySelector("nav").style.background = accentcolor;
		}
	});



	let topics = ["Programming",
		"Data Science",
		"Technology",
		"Self Improvement",
		"Writing",
		"Relationships",
		"Machine Learning",
		"Productivity",
		"Politics"]

	topics.forEach(element => {
		document.querySelector(".topics").innerHTML += `<a href="#">${element}</a>`
	});




</script>

