@model Tuple<Blog, Userdata>;
@using Microsoft.AspNetCore.Identity
@using Deblog.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = @Model.Item1.BlogTitle;
}

<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset='UTF-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>


	<link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">


	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js'>
	<link rel='stylesheet'
		  href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/atom-one-dark.min.css'>
	<link rel="stylesheet" href="/css/viewblog.css">
	<link rel="shortcut icon" href="/images/logoWithbg.png" type="image/png">



	<title>Writer - @Model.Item1.BlogTitle</title>
</head>

<body>
	<div class="container">
		<div class="titleblock">
			<h1 class="blogtitle">@Model.Item1.BlogTitle</h1>
			<div class="authorblock">
				<div class="authorimage">
					<img src="@Model.Item2.ImageUrl" />
					<div class="authorcard">
						<div class="authorcardtitle">
							<img src="@Model.Item2.ImageUrl" />
							<span class="authorname">@Model.Item2.Fullname</span>
						</div>
						<div class="bio">@Model.Item2.UserDesc</div>
						<div class="blogscount">Author of @TempData["AuthorBlogCount"]</div>
					</div>
				</div>
				<div class="authordetail">
					<div>
						<span class="authorname">@Model.Item2.Fullname</span>
						<i class="fas fa-circle" style="font-size:5px;"></i>
						<span style="color:var(--accent-color);cursor:pointer;">Follow</span>
					</div>
					<div>
						<span>@Model.Item1.BlogReadtime Min</span>
						<i class="fas fa-circle" style="font-size:5px;"></i>
						@if (Model.Item1.BlogDatetime.Year == DateTime.Now.Year)
						{
							<span>@Model.Item1.BlogDatetime.ToString("MMM dd")</span>
						}
						else
						{
							<span>@Model.Item1.BlogDatetime.ToString("MMM dd, yyyy")</span>
						}

					</div>
					@if (SignInManager.IsSignedIn(User))
					{
						<div class="reactionbar">

							<div class="like" title="like"><i class="fal fa-heart"></i></div>
							@if (TempData["bookmark"] == "Yes")
							{
								<div class="save" title="save" onclick="bookmark()"><i class="fad fa-bookmark"></i></div>
							}
							else
							{
								<div class="save" title="save" onclick="bookmark()"><i class="fal fa-bookmark"></i></div>
							}
							<div class="Savepdf" title="Save as PDF" onclick="window.print();"><i class="fal fa-file-pdf"></i></div>
							<div class="share" title="share"><i class="fal fa-arrow-to-top"></i></div>

						</div>

					}


				</div>
			</div>
			<img src="@Model.Item1.BlogImageUrl" alt="" class="titleimage" />


		</div>
		<div class="editor element" id="editor">
		</div>
	</div>

	<script src="~/js/fontawasome5.15-pro.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js'></script>
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script>

		var editortheme = "snow";
		var readonly = true;
		if (readonly) {
			editortheme = "bubble";
		}

	</script>
	<script src="/js/blogwriter.js"></script>
	<script>



		loadsaveddata();

		function loadsaveddata() {
			let blogbody = @Html.Raw(Json.Serialize(Model.Item1.BlogBody));
			let delta = JSON.parse(blogbody);
			quill.setContents(delta);
		}


		function bookmark() {
			let ele = document.querySelector(".save");
			//ele.innerHTML = `<i class="fad fa - spinner fa - spin"></i>`;

			$.get(`/Blog/Bookmark/`, { id: @Model.Item1.Id})
				.done(function (data) {
					console.log(data);
					if (data["state"]) {
						//bookmarked

						ele.innerHTML = `<i class="fad fa-bookmark"></i>`;
					}
					else {
						// unbookmarked
						ele.innerHTML = `<i class="fal fa-bookmark"></i>`;
					}
				});
		}


	</script>





</body>

</html>



