@model List<Blog>

@{
	ViewData["Title"] = "YourProject";
}

@section AddToHead{
	<style>
		.trendblog {
			padding: 0;
			width: calc(100% - 150px);
		}

			.trendblog .author span {
				font-weight: 600;
				font-size: 16px;
				padding:5px 15px;
				border-radius:20px;
				color:white;
			}

			.trendblog .author .state{
				background: var(--accent-color);
			}

			.trendblog .author .draft{
				background: var(--nord8);
			}


			.trendblog .author .type-public{
				background: var(--text-accent-color);
			}

			.trendblog .author .type-private {
				background: tomato;
			}



		.moreblogs {
			width: 100%;
			max-width: 600px;
		}

		.readmore {
			flex-direction: row;
		}

		.myblogimg {
			height: 130px;
			width: auto;
			border-radius: 10px;
			aspect-ratio: 1/1;
		}

		.blog .trendblog .title a {
			text-decoration: none;
			color: var(--accent-color);
		}

		.blog .trendblog .editblog {
			text-decoration: none;
			color: var(--accent-color);
		}

		.moreblogs h2 {
			margin: 40px 0 50px 0;
		}

		.noblog {
			text-align: center;
			margin: 40px 0 50px 0;
		}

	</style>
}





<div class="container">

	<div class="readmore">
		<div class="moreblogs">
			<h2><i class="fal fa-stars"> </i> Your Blogs</h2>
			<div class="blogs">
				@foreach (var blog in Model)
				{
					<div class="blog">
						<a asp-action="Index" asp-controller="Blog" asp-route-id=@blog.Id>
							<img class="myblogimg"
								 src="@blog.BlogImageUrl" alt="">
						</a>
						<div class="trendblog">
							<div class="author">
								@if (blog.BlogStatus)
								{
									<span class="state">Published</span>
								}
								else
								{
									<span class="state draft">Draft</span>
								}
								<span class="type-@blog.BlogType">@blog.BlogType</span>
							</div>
							<div class="title">
								<a asp-action="Index" asp-controller="Blog" asp-route-id=@blog.Id>@blog.BlogTitle</a>
							</div>
							<div class="otherdata">
								<div>
									@if (blog.BlogDatetime.Year == DateTime.Now.Year)
									{
										<span>@blog.BlogDatetime.ToString("MMM dd")</span>
									}
									else
									{
										<span>@blog.BlogDatetime.ToString("MMM dd, yyyy")</span>
									}
								</div>
								<span>·</span>
								<div>@blog.BlogReadtime min read</div>
								<span>·</span>
								<a asp-action="BlogWriter" asp-controller="Blog" asp-route-id=@blog.Id class="editblog">
									<i class="fal fa-edit"></i>
									<span>Edit</span>
								</a>
							</div>
						</div>

					</div>
				}
			</div>
		</div>
	</div>
</div>


@if (Model.Count == 0)
{
	<h3 class="noblog">You have no Blogs. Write one <a asp-action="NewBlog" asp-controller="Blog">Now</a></h3>
}

